
<head>
    <%- include("../partials/headerAdmin") %>
</head>

<main class ="container">

    <section class="contact">    

       <% data.forEach(product=> { %>

       <div id="form-content">
        <div id="form-head">
    
            <p>Detalle del Producto a Editar</p>
        
        </div>
        
        </div>

        <div class="logRegBG">
            <p class="logRegTitle">Editar el producto <%= product.product_name %></p> 
            <p class="LogRegSubTitle">Completa el formulario para realizar los cambios</p>
            <div class="bodyRegLog">
                <ul class="labelsContainer">
                    <li class="labelRegLog">Sku: </li>
                    <li class="labelRegLog">Nombre de Producto: </li>
                    <li class="labelRegLog">Descripción: </li>
                    <li class="labelRegLog">Licencia: </li>
                    <li class="labelRegLog">Categoría: </li>
                    <li class="labelRegLog">Precio: </li>
                    <li class="labelRegLog">Stock: </li>
                    <li class="labelRegLog">Imagen principal: </li>
                    <li class="labelRegLog">Imagen Alternativa: </li>
                </ul>
                <form class="custom-form" action="/links/edit/<%= product.product_id %>" method="post">
                    <input type="text" class="blankField" name="sku" value="<%= product.sku %>"><br>       
                    <input type="text" class="blankField" name="product_name" value="<%= product.product_name %>"><br>
                    <input type="text" class="blankField" name="product_description" value="<%= product.product_description%>"><br>
                    <div class="form-select" class="blankField">
                        <select name="licence_id" selected="<%= product.licence_id %>">
                        <option name="licence_id" value="1" >Pokemon</option>
                        <option name="licence_id" value="2">star-wars</option>
                        <option name="licence_id" value="3">Harry Potter </option>    
                    </select></br></br>
                    
                        <select name="category_id"  selected="<%= product.category_id %>">
                        <option name="category_id" value="1" >Funkos</option>
                        <option name="category_id" value="2">Remeras</option>
                        <option name="category_id" value="3">Llaveros </option>    
                    </select> </br></div>
                    <input type="text" class="blankField"name="price" value="<%= product.price %>"><br>
                    <input type="text" class="blankField"name="stock" value="<%= product.stock %>"><br>
                    <input type="text" class="blankField" name="image_front" value="<%= product.image_front %>"><br>
                    <input type="text" class="blankField" name="image_back" value="<%= product.image_back %>"><br>
                    <input type="submit" value="Evniar Cambios" class="botonRojo">
                </form>   <% }) %>  
            </div>
    </section>
</main>


<%- include("../partials/footer") %>