    <!--Header -->
    <%- include("../partials/header") %>
    <!--main-->
    <main class="shop__content"><!--Comeinzo del main-->
        <aside class="shop__aside"><!--Comienzo de la sección de buscador-->
            <section class="shop__search">

                <div class="shop__search-content-1">
                    <p class="shop__text">BUSCAR</p>
                    <input id="searchItem" type="text" placeholder=" item o categoria">
                </div>
    
                <div class="shop__search-content-2">
                    <p class="shop__text">ORDENAR POR</p>                
                    <select name="order" id="order">
                        <option  value="">Mayor a menor</option>
                        <option  value="">Menor a mayor</option>
                    </select>
                </div>
    
                <div class="shop__search-content-3">
                    <p class="shop__text">PRECIO</p>

                    <div class="shop__price ">
                        <div class=" shop__price-min">
                            <label class="price" for="">MIN</label>
                            <input id="price__min" type="number" placeholder="0">
                        </div>
                        <p>-</p>
                        <div class=" shop__price-max">
                            <label class="price" for="">MAX</label>
                            <input id="price__max" type="number" placeholder="0">
                        </div>
                    </div>
                </div>
    
                <div class="shop__search-content-4">        
                    <p class="shop__text">FILTRAR</p>
                    <div class="shop__input-content">
                        <div class="shop__search-input">
                            <input class="filter" type="checkbox"><label class="filter__option">NUEVOS</label>
                        </div>
                        <div class="shop__search-input">
                            <input class="filter" type="checkbox"><label class="filter__option">OFERTAS</label>
                        </div>
                        <div class="shop__search-input">
                            <input class="filter" type="checkbox"><label class="filter__option">EDICIN ESPECIAL</label>
                        </div>
                        <div class="shop__search-input">
                            <input class="filter" type="checkbox"><label class="filter__option">FAVORITOS</label>
                        </div>
                    </div>
                </div>
            </section>

        
        </aside><!--Fin de la sección de buscador-->
        
        <section class="shop__article"><!--Comienzo sección Articulos-->
            <ul id="ul__card" class="article__card-content"> 
                <li class="card"><% data.forEach(product=> { %>
                    <article class="card__article" >
                        <picture class="card__img">
                            <img class="card-item__img--front" src="../img/<%= product.image_front %>" alt="">
                            <img class="card-item__img--back" src="../img/<%= product.image_back %>" alt="">
                            <p class="card__text">Nuevo</p>
                        </picture>
                        <div class="card__data margin">
                            <h3 class="card__title"><%= product.licence_name %></h3>
                            <p class="card__description"><%= product.product_name %></p>
                            <p class="card__price"><%= product.price %></p>
                            <p class="card__info">3 CUOTAS SIN INTERÉS</p>
                        </div>

                    </article>
                </li><% }) %>
            </ul>
        
        </section><!--Final sección Articulos-->

    </main><!--Fin del main-->
    <!--Footer-->
    <%- include("../partials/footer") %>